@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");

:root {
  --bg-color: #404258;
  --heading-color: #5f9df7;
  font-size: 16px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #404258;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  color: var(--heading-color);
  font-size: 54px;
  margin-bottom: 10px;
}
header p {
  text-align: center;
  color: #fff;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.player-btn {
  display: flex;
  background-color: transparent;
  width: 100%;
  max-width: 300px;
  border: none;
  cursor: pointer;
}

img.shadow-img:hover {
  filter: drop-shadow(0px 3px 3px #e0144c);
  transition: filter ease-in-out 0.3s;
}

.player-selection:active {
  transform: translateY(10px);
  transition: transform ease-out 0.3s;
}

.game-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.comp {
  width: 100%;
  transform: rotate(180deg) translate(-1000px);
  transition: transform ease-in-out 0.3s;
}

.player {
  width: 100%;
  transform: translate(-1000px);
  transition: transform ease-in-out 0.3s;
}

.show-img-player {
  transform: translate(0);
}
.show-img-comp {
  transform: translate(0) rotate(180deg);
}
